In [61]:
# Combined Datasets
# GDP
# Gini
# HDI
# Infrastructure
# Internet
# Literacy
# CO2
# CO2#2
# Energy


#Energy
#Maybe HDI

In [62]:
import pandas as pd

In [63]:
file_gdp = "./datasets/GDP.csv"
df_gdp = pd.read_csv(file_gdp)
print("GDP DataFrame columns:", df_gdp.columns)
if 'code' in df_gdp.columns:
    df_gdp = df_gdp.drop(columns=['code'])
df_gdp.rename(columns={"entity": "Country"}, inplace=True)
df_gdp.replace("..", pd.NA, inplace=True)
df_gdp.head()

GDP DataFrame columns: Index(['entity', 'code', 'GDP per Capita 1990', 'GDP per Capita 1991',
       'GDP per Capita 1992', 'GDP per Capita 1993', 'GDP per Capita 1994',
       'GDP per Capita 1995', 'GDP per Capita 1996', 'GDP per Capita 1997',
       'GDP per Capita 1998', 'GDP per Capita 1999', 'GDP per Capita 2000',
       'GDP per Capita 2001', 'GDP per Capita 2002', 'GDP per Capita 2003',
       'GDP per Capita 2004', 'GDP per Capita 2005', 'GDP per Capita 2006',
       'GDP per Capita 2007', 'GDP per Capita 2008', 'GDP per Capita 2009',
       'GDP per Capita 2010', 'GDP per Capita 2011', 'GDP per Capita 2012',
       'GDP per Capita 2013', 'GDP per Capita 2014', 'GDP per Capita 2015',
       'GDP per Capita 2016', 'GDP per Capita 2017', 'GDP per Capita 2018',
       'GDP per Capita 2019', 'GDP per Capita 2020', 'GDP per Capita 2021',
       'GDP per Capita 2022', 'GDP per Capita 2023'],
      dtype='object')

,Country,GDP per Capita 1990,GDP per Capita 1991,GDP per Capita 1992,GDP per Capita 1993,GDP per Capita 1994,GDP per Capita 1995,GDP per Capita 1996,GDP per Capita 1997,GDP per Capita 1998,...,GDP per Capita 2014,GDP per Capita 2015,GDP per Capita 2016,GDP per Capita 2017,GDP per Capita 2018,GDP per Capita 2019,GDP per Capita 2020,GDP per Capita 2021,GDP per Capita 2022,GDP per Capita 2023
0,Afghanistan,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,575.146245808546,565.569730408751,563.872336723147,562.769574140988,553.125151688293,557.861533207459,527.834554499306,408.625855217403,377.665627080705,379.707497269884
1,Albania,1606.29646776458,1163.49159838489,1086.4387714304,1197.58090750054,1305.00106057165,1488.02088119627,1633.55200001885,1464.29796254199,1603.64765027651,...,3855.76074409659,3952.80357364813,4090.37272829183,4249.8200493985,4431.55559506989,4542.26866282892,4417.04105105395,4858.05201500931,5154.8274975368,5419.63779125273
2,Algeria,3605.68701213527,3478.5097627463,3455.9293629926,3302.91950571082,3201.56914405705,3255.187268716,3322.9553813945,3297.46603365919,3410.88254399624,...,4634.10149183949,4685.05902729002,4768.73140080218,4742.90075536604,4717.00358853556,4672.66408682198,4363.68533766912,4456.74687641147,4544.46688059647,4660.40545686886
3,American Samoa,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,12203.0894714284,12727.4102651386,12665.2829921268,11930.7771236826,12412.6024074562,12524.0160252283,13194.274740128,13233.5784817341,13709.0974895473,<NA>
4,Andorra,31143.1468745802,29642.305980666,28161.9424927346,26518.2336327363,26587.1383037195,27619.5060608184,28871.2160741757,31140.6896808445,31800.3640667052,...,37300.6244183478,38654.9347203095,40085.0205971586,39361.0622634329,39242.1448960772,39346.2750344286,34536.6499209948,36929.0191515162,39780.3966116268,40227.2335282714

In [64]:
file_gini = "./datasets/Gini.csv"
df_gini=pd.read_csv(file_gini)
df_gini = df_gini.drop(columns=["Code"])
df_gini.rename(columns={"Entity": "Country"}, inplace=True)
df_gini

,Country,Gini coefficient 1990,Gini coefficient 1991,Gini coefficient 1992,Gini coefficient 1993,Gini coefficient 1994,Gini coefficient 1995,Gini coefficient 1996,Gini coefficient 1997,Gini coefficient 1998,...,Gini coefficient 2014,Gini coefficient 2015,Gini coefficient 2016,Gini coefficient 2017,Gini coefficient 2018,Gini coefficient 2019,Gini coefficient 2020,Gini coefficient 2021,Gini coefficient 2022,Gini coefficient 2023
0,Albania,0.270103,0.270103,0.270103,0.270103,0.270103,0.270103,0.270103,0.270103,0.270103,...,0.345989,0.327537,0.337363,0.330557,0.301483,0.301158,0.294196,0.294196,0.294196,0.294196
1,Algeria,0.353301,0.353301,0.353301,0.353301,0.353301,0.353301,0.353301,0.353301,0.353301,...,0.276157,0.276157,0.276157,0.276157,0.276157,0.276157,0.276157,0.276157,0.276157,0.276157
2,Angola,0.519447,0.519447,0.519447,0.519447,0.519447,0.519447,0.519447,0.519447,0.519447,...,0.427155,0.427155,0.427155,0.427155,0.512640,0.512640,0.512640,0.512640,0.512640,0.512640
3,Argentina (urban),0.467545,0.467545,0.454552,0.448434,0.458985,0.488787,0.494914,0.490859,0.507132,...,0.418225,0.418225,0.423450,0.414348,0.417190,0.433142,0.427438,0.424456,0.407365,0.407365
4,Armenia,0.362197,0.362197,0.362197,0.362197,0.362197,0.362197,0.362197,0.362197,0.362197,...,0.314833,0.323568,0.325479,0.336218,0.344335,0.300312,0.251316,0.279401,0.279453,0.279453
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,Venezuela,0.420618,0.420618,0.420618,0.420618,0.420618,0.471673,0.471673,0.471673,0.479997,...,0.446993,0.446993,0.446993,0.446993,0.446993,0.446993,0.446993,0.446993,0.446993,0.446993
176,Vietnam,0.356540,0.356540,0.356540,0.356540,0.356540,0.356540,0.356540,0.354422,0.354422,...,0.347554,0.347554,0.352667,0.352667,0.357155,0.357155,0.367902,0.367902,0.360930,0.360930
177,Yemen,0.349978,0.349978,0.349978,0.349978,0.349978,0.349978,0.349978,0.349978,0.349978,...,0.367071,0.367071,0.367071,0.367071,0.367071,0.367071,0.367071,0.367071,0.367071,0.367071
178,Zambia,0.594029,0.594029,0.594029,0.525501,0.525501,0.525501,0.483284,0.483284,0.491221,...,0.520111,0.558376,0.558376,0.558376,0.558376,0.558376,0.558376,0.558376,0.514831,0.514831
179,Zimbabwe,0.431536,0.431536,0.431536,0.431536,0.431536,0.431536,0.431536,0.431536,0.431536,...,0.431536,0.431536,0.431536,0.443371,0.443371,0.502564,0.502564,0.502564,0.502564,0.502564

In [65]:
file_hdi = "./datasets/HDI.csv"
df_hdi = pd.read_csv(file_hdi)
df_hdi.replace("NaN", pd.NA, inplace=True)
df_hdi.head()

,Country,Human Development Index (1990),Human Development Index (1991),Human Development Index (1992),Human Development Index (1993),Human Development Index (1994),Human Development Index (1995),Human Development Index (1996),Human Development Index (1997),Human Development Index (1998),...,Mean Years of Schooling (2012),Mean Years of Schooling (2013),Mean Years of Schooling (2014),Mean Years of Schooling (2015),Mean Years of Schooling (2016),Mean Years of Schooling (2017),Mean Years of Schooling (2018),Mean Years of Schooling (2019),Mean Years of Schooling (2020),Mean Years of Schooling (2021)
0,Afghanistan,0.273,0.279,0.287,0.297,0.292,0.310,0.319,0.323,0.324,...,2.209473,2.261614,2.313755,2.365896,2.463660,2.561425,2.659189,2.756953,2.854718,2.985070
1,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.909642,3.950166,3.990690,4.704040,5.417391,5.417391,5.417391,5.417391,5.417391,5.417391
2,Albania,0.647,0.629,0.614,0.617,0.624,0.634,0.645,0.642,0.657,...,10.025110,10.196281,10.370374,10.547439,10.727528,10.910692,11.096983,11.286455,11.286455,11.286455
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.587085,10.616062,10.645040,10.573280,10.556100,10.555773,10.555446,10.555120,10.555120,10.555120
4,United Arab Emirates,0.728,0.739,0.742,0.748,0.755,0.762,0.767,0.773,0.779,...,10.169965,10.338129,10.506293,10.674456,10.842620,12.055400,12.484000,12.694030,12.694030,12.694030

In [66]:
file_infra = "./datasets/Infrastructure.csv"
df_infra = pd.read_csv(file_infra)
df_infra.head()

,Country,Average Power Line,Average Schools,Average Supermarkets,Average Public Roads,Average Hospitals
0,Ukraine,2.0,0.4,1.2,31.4,1.0
1,UAE,1.8,5.4,4.8,44.8,0.6
2,Argentina,2.0,10.0,9.0,8.6,3.6
3,Austria,3.4,15.6,10.2,45.0,1.0
4,Australia,8.0,16.0,10.8,69.8,1.8

In [67]:
file_net = "./datasets/Internet.csv"
df_net = pd.read_csv(file_net)
df_net = df_net.drop(columns=["code"])
df_net.rename(columns={"entity": "Country"}, inplace=True)
df_net.replace("..", pd.NA, inplace=True)
df_net.head()

,Country,Internet Usage (% of Population) 1990,Internet Usage (% of Population) 1991,Internet Usage (% of Population) 1992,Internet Usage (% of Population) 1993,Internet Usage (% of Population) 1994,Internet Usage (% of Population) 1995,Internet Usage (% of Population) 1996,Internet Usage (% of Population) 1997,Internet Usage (% of Population) 1998,...,Internet Usage (% of Population) 2014,Internet Usage (% of Population) 2015,Internet Usage (% of Population) 2016,Internet Usage (% of Population) 2017,Internet Usage (% of Population) 2018,Internet Usage (% of Population) 2019,Internet Usage (% of Population) 2020,Internet Usage (% of Population) 2021,Internet Usage (% of Population) 2022,Internet Usage (% of Population) 2023
0,Afghanistan,0,0,0,0,0,0,<NA>,<NA>,<NA>,...,7,8.26,11,13.5,16.8,17.6,18.4,<NA>,<NA>,<NA>
1,Albania,0,0,0,0,0,0.011168695,0.032196828,0.048593919,0.06502737,...,54.3,56.9,59.6,62.4,65.4,68.5504,72.2377,79.3237,82.6137,83.1356
2,Algeria,0,0,0,0,0.000360674,0.001768954,0.001738533,0.010268463,0.020238555,...,29.5,38.2,42.9455,47.6911,49.0385,58.9776,60.6534,66.2356,71.2432,<NA>
3,American Samoa,0,0,0,0,0,0,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,Andorra,0,0,0,0,0,0,1.526601023,3.050175385,6.886209218,...,86.1,87.9,89.7,91.5675,<NA>,90.7187,93.2056,93.8975,94.4855,<NA>

In [68]:
file_lit = "./datasets/Literacy.csv"
df_lit = pd.read_csv(file_lit)
df_lit = df_lit.drop(columns=["Code"])
df_lit.rename(columns={"Entity": "Country"}, inplace=True)
df_lit

,Country,Literacy rate 1990,Literacy rate 1991,Literacy rate 1992,Literacy rate 1993,Literacy rate 1994,Literacy rate 1995,Literacy rate 1996,Literacy rate 1997,Literacy rate 1998,...,Literacy rate 2014,Literacy rate 2015,Literacy rate 2016,Literacy rate 2017,Literacy rate 2018,Literacy rate 2019,Literacy rate 2020,Literacy rate 2021,Literacy rate 2022,Literacy rate 2023
0,Afghanistan,31.00000,31.00000,31.00000,31.00000,31.00000,31.00000,31.00000,31.00000,31.00000,...,31.00000,33.75384,33.75384,33.75384,33.75384,33.75384,33.75384,37.00000,37.00000,37.00000
1,Albania,99.00000,99.00000,99.00000,99.00000,99.00000,99.00000,99.00000,99.00000,99.00000,...,97.00000,97.55390,97.55390,98.81623,98.81623,98.81623,98.81623,98.81623,98.50000,98.50000
2,Algeria,70.00000,70.00000,70.00000,70.00000,70.00000,70.00000,70.00000,70.00000,70.00000,...,75.00000,79.60840,79.60840,79.60840,81.40784,81.40784,81.40784,81.40784,81.40784,81.40784
3,Andorra,100.00000,100.00000,100.00000,100.00000,100.00000,100.00000,100.00000,100.00000,100.00000,...,100.00000,100.00000,100.00000,100.00000,100.00000,100.00000,100.00000,100.00000,100.00000,100.00000
4,Angola,67.00000,67.00000,67.00000,67.00000,67.00000,67.00000,67.00000,67.00000,67.00000,...,66.00000,66.23586,66.23586,66.23586,66.23586,66.23586,66.23586,66.23586,72.40000,72.40000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,Western and Central Africa (WB),43.57052,44.36271,45.13663,45.95827,46.83009,47.00222,47.86489,48.86634,50.23897,...,54.14114,55.00662,55.46578,56.47220,59.74735,59.55367,59.70324,60.00732,60.29085,60.50555
256,World,74.90692,75.28641,75.69422,76.10236,76.50139,76.91177,77.29624,79.28838,80.46865,...,85.28639,85.67888,86.00011,86.17700,86.43748,86.54791,86.74745,86.92751,87.15533,87.35600
257,Yemen,37.00000,37.00000,37.00000,37.00000,37.00000,37.00000,37.00000,37.00000,37.00000,...,68.78942,69.96195,69.96195,69.96195,69.96195,69.96195,69.96195,69.96195,69.96195,69.96195
258,Zambia,65.00000,65.00000,65.00000,65.00000,65.00000,65.00000,65.00000,65.00000,65.00000,...,83.00000,85.11726,85.11726,85.11726,71.13230,71.13230,87.50000,87.50000,87.50000,87.50000
259,Zimbabwe,84.00000,84.00000,84.00000,84.00000,84.00000,84.00000,84.00000,84.00000,84.00000,...,88.69342,86.87348,86.87348,86.87348,86.87348,93.22755,93.22755,93.22755,89.85000,89.85000

In [69]:
file_co2 = "./datasets/CO2.csv"
df_co2 = pd.read_csv(file_co2)
df_co2 = df_co2.drop(columns=["Unnamed: 0"])
df_co2.rename(columns={"country": "Country"}, inplace=True)
df_co2.head()

,Country,1990 CO2 per capita,1991 CO2 per capita,1992 CO2 per capita,1993 CO2 per capita,1994 CO2 per capita,1995 CO2 per capita,1996 CO2 per capita,1997 CO2 per capita,1998 CO2 per capita,...,2014 CO2 per capita,2015 CO2 per capita,2016 CO2 per capita,2017 CO2 per capita,2018 CO2 per capita,2019 CO2 per capita,2020 CO2 per capita,2021 CO2 per capita,2022 CO2 per capita,2023 CO2 per capita
0,Afghanistan,0.168,0.156,0.112,0.100,0.089,0.083,0.077,0.071,0.067,...,0.277,0.286,0.257,0.271,0.289,0.286,0.297,0.257,0.260,0.266
1,Africa,1.024,1.042,0.984,1.016,1.108,1.154,1.162,1.162,1.157,...,1.143,1.094,1.100,1.087,1.055,1.099,0.983,1.021,0.991,0.959
2,Africa (GCP),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
3,Albania,1.684,1.307,0.767,0.713,0.588,0.641,0.622,0.478,0.547,...,2.066,1.626,1.598,1.826,1.691,1.673,1.640,1.802,1.830,1.830
4,Algeria,3.024,3.032,3.000,3.004,3.177,3.399,3.446,2.988,3.545,...,3.859,4.000,3.880,3.962,4.063,4.155,3.819,4.012,4.058,3.859

In [70]:
file_co22 = "./datasets/CO2#2.csv"
df_co22 = pd.read_csv(file_co22)
df_co22 = df_co22.drop(columns=["Unnamed: 0"])
df_co22.rename(columns={"country": "Country"}, inplace=True)
df_co22.head()

,Country,1990 CO2 per capita,1991 CO2 per capita,1992 CO2 per capita,1993 CO2 per capita,1994 CO2 per capita,1995 CO2 per capita,1996 CO2 per capita,1997 CO2 per capita,1998 CO2 per capita,...,2014 CO2 per capita,2015 CO2 per capita,2016 CO2 per capita,2017 CO2 per capita,2018 CO2 per capita,2019 CO2 per capita,2020 CO2 per capita,2021 CO2 per capita,2022 CO2 per capita,2023 CO2 per capita
0,Afghanistan,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.00,0.000,0.000,0.000,0.000,0.000,0.000,0.0
1,Africa,0.906,0.919,0.915,0.924,1.003,1.028,1.002,1.004,1.039,...,1.123,1.101,1.09,1.039,1.012,1.043,0.956,0.990,0.946,0.0
2,Africa (GCP),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.00,0.000,0.000,0.000,0.000,0.000,0.000,0.0
3,Albania,1.695,1.406,0.888,0.815,0.726,0.781,0.932,0.690,0.790,...,2.242,2.040,2.01,2.055,2.053,2.022,2.009,2.147,2.127,0.0
4,Algeria,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.00,0.000,0.000,0.000,0.000,0.000,0.000,0.0

In [71]:
file_energy = "./datasets/Energy.csv"
df_energy = pd.read_csv(file_energy)
df_energy.replace("..", pd.NA, inplace=True)
df_energy = df_energy.drop(columns=["YR2022", "YR2023"])
df_energy.rename(columns={"Country Name": "Country"}, inplace=True)
year_columns = df_energy.columns[1:]
rename_dict = {col: col.replace('YR', '') + ' Energy' for col in year_columns}

df_energy.rename(columns=rename_dict, inplace=True)
df_energy.head()

,Country,2014 Energy,2015 Energy,2016 Energy,2017 Energy,2018 Energy,2019 Energy,2020 Energy,2021 Energy
0,Argentina,2.21103916447582,0.78997913166528,0.568187363007616,0.676135028048864,1.43730115442118,1.53656088925892,0.805650721774117,1.59471633197215
1,Australia,0.755451088942237,0.567565619466884,0.591410295226177,0.760358992143208,1.14049132500834,1.31732811944483,1.1162720977283,1.6313907314568
2,Brazil,1.39876331607307,0.857685698468755,0.686699294180488,0.934976537711634,1.5802963493344,1.44608781006584,0.949585951805012,2.26355193351451
3,China,1.17449560810056,0.55146891809536,0.468471119066501,0.582954445963903,0.704281724834458,0.554702096120324,0.361833602387154,0.689430074246557
4,France,0.00701751945317788,0.00394674875841994,0.00301090345845521,0.00404255730613459,0.00676725037994716,0.00543453180331309,0.00264417156034399,0.00550683481013504

In [72]:
file_mortality = "./datasets/Mortality.csv"
df_mortality = pd.read_csv(file_mortality)
year_columns = df_mortality.columns[1:]
rename_dict = {str(year): f'{year} Mortality' for year in range(1990, 2023)}
df_mortality.rename(columns=rename_dict, inplace=True)
df_mortality.head()

,Country,1990 Mortality,1991 Mortality,1992 Mortality,1993 Mortality,1994 Mortality,1995 Mortality,1996 Mortality,1997 Mortality,1998 Mortality,...,2013 Mortality,2014 Mortality,2015 Mortality,2016 Mortality,2017 Mortality,2018 Mortality,2019 Mortality,2020 Mortality,2021 Mortality,2022 Mortality
0,Afghanistan,86.737889,79.666566,72.832604,66.091653,59.747625,53.965552,48.930874,44.358895,43.679160,...,35.706045,37.420748,39.144660,40.561584,41.512834,42.250427,42.954321,43.664294,44.554664,45.381934
1,Albania,14.301552,14.483563,14.604564,14.597464,14.496106,14.403960,14.348612,17.321067,13.864254,...,7.746357,7.329462,6.910799,6.520890,6.182847,5.907073,5.690909,5.515814,5.376167,5.252144
2,Algeria,20.208882,19.914723,19.630186,19.323652,18.976149,18.558510,18.058564,17.472038,16.812092,...,10.237530,10.161968,10.027424,9.839101,9.604716,9.322065,8.982225,8.604674,8.241613,7.953160
3,Andorra,11.723153,11.249447,10.789020,10.391031,10.028884,9.654923,9.310799,8.973685,8.647435,...,5.089380,4.920988,4.741890,4.586083,4.443478,4.319561,4.198529,4.091002,3.989212,3.895987
4,Angola,116.854328,109.293817,116.914515,109.060967,108.784116,108.434472,107.715146,106.694523,105.334388,...,58.998576,56.554353,54.426747,52.619912,50.929586,49.409288,47.997828,46.713510,45.551972,44.449184

In [73]:
file_pm10 = "./datasets/PM10.csv"
df_pm10 = pd.read_csv(file_pm10)
df_pm10.rename(columns={"WHO Country Name": "Country"}, inplace=True)
rename_dict = {str(year): f'{year} PM10' for year in range(2010, 2022)}
df_pm10.rename(columns=rename_dict, inplace=True)
df_pm10

,Country,2010 PM10,2011 PM10,2012 PM10,2013 PM10,2014 PM10,2015 PM10,2016 PM10,2017 PM10,2018 PM10,2019 PM10,2020 PM10,2021 PM10
0,Argentina,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,91.666667,100.000000,100.000000,97.200000,0.0,0.0
1,Australia,96.255102,95.740817,96.339286,96.454622,95.070408,95.353896,96.483069,89.185714,93.842857,97.364357,0.0,0.0
2,Austria,98.065654,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
3,Bahamas,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,67.000000,99.000000,40.0,0.0
4,Bahrain,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,83.470320,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Trinidad and Tobago,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,62.000000,0.0,0.0
73,Turkey,89.866169,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,97.879249,0.0,0.0
74,Ukraine,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,92.300000,100.000000,0.0,0.0
75,United Kingdom,89.481747,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
76,Uruguay,0.000000,0.000000,0.000000,0.000000,48.219178,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0

In [74]:
# Merge multiple DataFrames step by step
combined_df_wo_infra = pd.merge(df_gini, df_gdp, how="inner", on="Country")
combined_df_wo_infra = pd.merge(combined_df_wo_infra, df_hdi, how="inner", on="Country")
combined_df_wo_infra = pd.merge(combined_df_wo_infra, df_lit, how="inner", on="Country")
combined_df_wo_infra = pd.merge(combined_df_wo_infra, df_net, how="inner", on="Country")
combined_df_wo_infra = pd.merge(combined_df_wo_infra, df_co2, how="inner", on="Country")
combined_df_wo_infra = pd.merge(combined_df_wo_infra, df_co22, how="inner", on="Country")
combined_df_wo_infra = pd.merge(combined_df_wo_infra, df_energy, how="inner", on="Country")
combined_df_wo_infra = pd.merge(combined_df_wo_infra, df_mortality, how="inner", on="Country")

# Display the resulting DataFrame
combined_df_wo_infra

,Country,Gini coefficient 1990,Gini coefficient 1991,Gini coefficient 1992,Gini coefficient 1993,Gini coefficient 1994,Gini coefficient 1995,Gini coefficient 1996,Gini coefficient 1997,Gini coefficient 1998,...,2013 Mortality,2014 Mortality,2015 Mortality,2016 Mortality,2017 Mortality,2018 Mortality,2019 Mortality,2020 Mortality,2021 Mortality,2022 Mortality
0,Albania,0.270103,0.270103,0.270103,0.270103,0.270103,0.270103,0.270103,0.270103,0.270103,...,7.746357,7.329462,6.910799,6.520890,6.182847,5.907073,5.690909,5.515814,5.376167,5.252144
1,Algeria,0.353301,0.353301,0.353301,0.353301,0.353301,0.353301,0.353301,0.353301,0.353301,...,10.237530,10.161968,10.027424,9.839101,9.604716,9.322065,8.982225,8.604674,8.241613,7.953160
2,Angola,0.519447,0.519447,0.519447,0.519447,0.519447,0.519447,0.519447,0.519447,0.519447,...,58.998576,56.554353,54.426747,52.619912,50.929586,49.409288,47.997828,46.713510,45.551972,44.449184
3,Armenia,0.362197,0.362197,0.362197,0.362197,0.362197,0.362197,0.362197,0.362197,0.362197,...,6.606133,7.062106,7.966167,8.507257,8.112138,7.307098,6.660999,6.572645,7.533118,11.212091
4,Australia,0.325786,0.325786,0.325786,0.325786,0.325786,0.325786,0.325786,0.325786,0.325786,...,4.572380,4.477610,4.424821,4.416563,4.448280,4.496637,4.534294,4.541600,4.505020,4.419226
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,Uruguay,0.459414,0.459414,0.459414,0.459414,0.459414,0.459414,0.459414,0.459414,0.459414,...,10.849620,10.688722,10.538097,10.460239,10.474150,10.553494,10.656787,10.779560,10.916725,11.056742
136,Uzbekistan,0.442685,0.442685,0.442685,0.442685,0.442685,0.442685,0.442685,0.442685,0.442685,...,11.423584,11.573624,11.698995,11.740396,11.620231,11.275721,10.844921,10.536127,10.435320,10.435145
137,Vanuatu,0.373513,0.373513,0.373513,0.373513,0.373513,0.373513,0.373513,0.373513,0.373513,...,15.146252,14.958865,14.819970,14.708312,14.575267,14.396351,14.227136,14.008246,13.789132,13.557602
138,Zambia,0.594029,0.594029,0.594029,0.525501,0.525501,0.525501,0.483284,0.483284,0.491221,...,40.704846,39.054175,37.519899,36.036828,34.668885,33.489714,32.601132,31.921261,31.399460,30.978062
139,Zimbabwe,0.431536,0.431536,0.431536,0.431536,0.431536,0.431536,0.431536,0.431536,0.431536,...,41.038593,40.189532,39.448588,38.858766,38.341540,37.845183,37.416589,37.070554,36.894658,36.584246

In [75]:
combined_df_wo_infra.to_csv("./datasets/combined_df_wo_infra.csv", index=False)

In [76]:

combined_df = pd.merge(combined_df_wo_infra, df_infra, how="inner", on="Country")
combined_df

,Country,Gini coefficient 1990,Gini coefficient 1991,Gini coefficient 1992,Gini coefficient 1993,Gini coefficient 1994,Gini coefficient 1995,Gini coefficient 1996,Gini coefficient 1997,Gini coefficient 1998,...,2018 Mortality,2019 Mortality,2020 Mortality,2021 Mortality,2022 Mortality,Average Power Line,Average Schools,Average Supermarkets,Average Public Roads,Average Hospitals
0,Australia,0.325786,0.325786,0.325786,0.325786,0.325786,0.325786,0.325786,0.325786,0.325786,...,4.496637,4.534294,4.541600,4.505020,4.419226,8.0,16.0,10.8,69.8,1.8
1,Austria,0.308280,0.308280,0.308280,0.308280,0.308280,0.299143,0.293178,0.290654,0.313408,...,3.921898,3.933814,3.986880,4.072674,4.178208,3.4,15.6,10.2,45.0,1.0
2,Belarus,0.320184,0.320184,0.320184,0.320184,0.320184,0.320184,0.320184,0.320184,0.320184,...,5.749728,5.401263,5.140058,4.960482,4.841156,2.2,12.0,1.2,24.4,1.0
3,Brazil,0.604500,0.604500,0.531017,0.600656,0.600656,0.595304,0.598373,0.597537,0.595654,...,15.990706,15.526359,15.132572,14.805685,14.545867,1.8,3.8,2.8,18.4,0.6
4,Canada,0.313654,0.319434,0.315643,0.316759,0.313038,0.315096,0.327681,0.331169,0.332172,...,5.549870,5.583710,5.690650,5.914808,6.163911,2.4,20.8,11.0,11.4,0.4
5,Chile,0.572354,0.572354,0.548065,0.548065,0.564210,0.564210,0.548688,0.548688,0.555167,...,6.807043,6.842064,6.916595,6.989901,7.015981,3.4,95.8,14.8,32.0,1.4
6,Colombia,0.513523,0.513523,0.513523,0.513523,0.513523,0.513523,0.567805,0.567805,0.567805,...,13.668761,13.711564,13.856109,14.112707,14.453973,7.2,25.4,27.6,15.8,3.6
7,Croatia,0.325537,0.325537,0.325537,0.325537,0.325537,0.325537,0.325537,0.325537,0.325537,...,4.913303,5.027645,5.155426,5.274027,5.360567,1.4,0.6,0.6,8.0,0.0
8,Czechia,0.207033,0.207033,0.207033,0.265535,0.265535,0.265535,0.257990,0.257990,0.257990,...,4.668561,4.629072,4.607017,4.612386,4.643248,9.8,5.4,1.6,9.0,0.4
9,Denmark,0.246910,0.246910,0.246910,0.246910,0.246910,0.229559,0.229559,0.229559,0.229559,...,3.032260,3.035299,3.044604,3.055999,3.070977,1.8,18.4,14.0,69.2,2.8
10,Estonia,0.394273,0.394273,0.394273,0.394273,0.394273,0.394273,0.394273,0.394273,0.394273,...,5.453301,5.101544,4.792426,4.533591,4.355332,1.2,11.0,5.6,25.4,0.4
11,Finland,0.228798,0.228798,0.228798,0.228798,0.228798,0.234591,0.234591,0.234591,0.234591,...,5.311350,5.448363,5.478113,5.407742,5.272486,1.6,3.6,1.0,24.6,0.2
12,France,0.321191,0.321191,0.321191,0.321191,0.321191,0.321191,0.320166,0.319001,0.316578,...,3.740644,3.696873,3.654224,3.613443,3.569938,1.6,3.0,0.4,34.0,0.4
13,Germany,0.294929,0.294929,0.290733,0.286121,0.291594,0.288113,0.279938,0.282467,0.282704,...,3.422374,3.389413,3.387469,3.425392,3.497733,1.8,21.2,9.6,53.4,0.8
14,Iceland,0.268360,0.268360,0.268360,0.268360,0.268360,0.268360,0.268360,0.268360,0.268360,...,3.517032,3.383420,3.253735,3.131512,3.026334,0.0,13.6,8.6,35.6,1.8
15,Italy,0.310499,0.310499,0.310499,0.350863,0.350863,0.352108,0.352108,0.352108,0.366523,...,3.184651,3.069987,2.988643,2.974641,3.033412,5.0,3.0,2.0,50.2,0.0
16,Jamaica,0.411137,0.411137,0.411137,0.356734,0.356734,0.356734,0.403949,0.403949,0.403949,...,14.303516,14.345895,14.376972,14.376743,15.704952,1.2,3.8,0.4,6.2,0.0
17,Japan,0.348423,0.348423,0.348423,0.348423,0.348423,0.348423,0.348423,0.348423,0.348423,...,3.503874,3.530033,3.585924,3.655633,3.724630,5.2,8.4,4.0,299.6,1.0
18,Kazakhstan,0.326657,0.326657,0.326657,0.326657,0.326657,0.326657,0.353783,0.353783,0.353783,...,10.165237,9.974507,9.795454,9.583099,9.329854,3.4,21.8,10.8,2.6,7.0
19,Latvia,0.269931,0.269931,0.269931,0.269931,0.269931,0.309775,0.315908,0.315908,0.315908,...,7.377818,7.153363,6.877405,6.572459,6.272126,3.6,4.4,3.0,39.0,0.4
20,Lithuania,0.331838,0.331838,0.331838,0.331838,0.331838,0.331838,0.331838,0.331838,0.331838,...,7.262296,6.972947,6.732347,6.512947,6.307903,1.4,6.2,4.0,4.8,0.0
21,Luxembourg,0.277019,0.271785,0.273095,0.270479,0.281479,0.283010,0.290434,0.295733,0.306054,...,2.476201,2.425169,2.385864,2.356915,2.332532,2.8,13.8,6.4,24.0,0.2
22,Mexico,0.523107,0.523107,0.523107,0.523107,0.534223,0.534223,0.519715,0.519715,0.532833,...,13.093819,13.466090,13.649610,13.616869,13.395253,2.2,6.2,1.6,10.2,0.8
23,Norway,0.252262,0.252262,0.252262,0.252262,0.252262,0.260196,0.260196,0.260196,0.260196,...,3.814943,3.806814,3.775257,3.716708,3.642233,5.2,2.6,2.0,13.0,0.0
24,Portugal,0.387750,0.387750,0.387750,0.387750,0.387750,0.387750,0.387750,0.387750,0.387750,...,3.605020,3.641104,3.714881,3.823418,3.955557,4.0,31.6,20.8,17.8,2.2
25,Qatar,0.351284,0.351284,0.351284,0.351284,0.351284,0.351284,0.351284,0.351284,0.351284,...,5.384760,5.282038,5.237324,5.237335,5.255728,0.4,3.4,6.6,58.8,4.6
26,Slovenia,0.291178,0.291178,0.291178,0.291178,0.291178,0.291178,0.291178,0.241215,0.241215,...,3.844289,3.658384,3.475961,3.301976,3.142685,1.2,1.2,0.8,72.0,0.0
27,South Africa,0.593339,0.593339,0.593339,0.593339,0.593339,0.593339,0.593339,0.593339,0.593339,...,26.805677,26.444436,26.278210,26.267306,26.386059,1.0,3.6,2.6,7.6,0.4
28,Spain,0.320232,0.320232,0.320232,0.356585,0.351037,0.357266,0.364646,0.353244,0.345801,...,2.926145,2.900405,2.913855,2.977635,3.057541,4.2,3.4,2.4,14.2,0.0
29,Switzerland,0.338549,0.338549,0.338549,0.338549,0.338549,0.338549,0.338549,0.338549,0.338549,...,3.350272,3.354682,3.353295,3.349821,3.337957,2.6,9.2,8.0,109.0,0.4
30,Ukraine,0.297088,0.297088,0.297088,0.289270,0.289270,0.392310,0.351536,0.351536,0.351536,...,7.961024,7.815600,7.859186,8.062059,28.569474,2.0,0.4,1.2,31.4,1.0
31,Uruguay,0.459414,0.459414,0.459414,0.459414,0.459414,0.459414,0.459414,0.459414,0.459414,...,10.553494,10.656787,10.779560,10.916725,11.056742,0.4,6.2,1.2,4.2,0.2

In [77]:


# Export to CSV
combined_df.to_csv("./datasets/combined_df.csv", index=False)