In [2]:
import pandas as pd

In [3]:
hdi_df = pd.read_csv('./datasets/HDI.csv')
hdi_df.head()

,Country,Human Development Index (1990),Human Development Index (1991),Human Development Index (1992),Human Development Index (1993),Human Development Index (1994),Human Development Index (1995),Human Development Index (1996),Human Development Index (1997),Human Development Index (1998),...,Mean Years of Schooling (2012),Mean Years of Schooling (2013),Mean Years of Schooling (2014),Mean Years of Schooling (2015),Mean Years of Schooling (2016),Mean Years of Schooling (2017),Mean Years of Schooling (2018),Mean Years of Schooling (2019),Mean Years of Schooling (2020),Mean Years of Schooling (2021)
0,Afghanistan,0.273,0.279,0.287,0.297,0.292,0.310,0.319,0.323,0.324,...,2.209473,2.261614,2.313755,2.365896,2.463660,2.561425,2.659189,2.756953,2.854718,2.985070
1,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.909642,3.950166,3.990690,4.704040,5.417391,5.417391,5.417391,5.417391,5.417391,5.417391
2,Albania,0.647,0.629,0.614,0.617,0.624,0.634,0.645,0.642,0.657,...,10.025110,10.196281,10.370374,10.547439,10.727528,10.910692,11.096983,11.286455,11.286455,11.286455
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.587085,10.616062,10.645040,10.573280,10.556100,10.555773,10.555446,10.555120,10.555120,10.555120
4,United Arab Emirates,0.728,0.739,0.742,0.748,0.755,0.762,0.767,0.773,0.779,...,10.169965,10.338129,10.506293,10.674456,10.842620,12.055400,12.484000,12.694030,12.694030,12.694030

In [5]:
# Drop columns containing 'Human' in their name
hdi_df = hdi_df.drop(columns=[col for col in hdi_df.columns if 'Human' in col])
hdi_df.head()

,Country,Expected Years of Schooling (1990),Expected Years of Schooling (1991),Expected Years of Schooling (1992),Expected Years of Schooling (1993),Expected Years of Schooling (1994),Expected Years of Schooling (1995),Expected Years of Schooling (1996),Expected Years of Schooling (1997),Expected Years of Schooling (1998),...,Mean Years of Schooling (2012),Mean Years of Schooling (2013),Mean Years of Schooling (2014),Mean Years of Schooling (2015),Mean Years of Schooling (2016),Mean Years of Schooling (2017),Mean Years of Schooling (2018),Mean Years of Schooling (2019),Mean Years of Schooling (2020),Mean Years of Schooling (2021)
0,Afghanistan,2.50405,2.80655,3.10905,3.41155,3.714050,4.016550,4.319050,4.621550,4.924050,...,2.209473,2.261614,2.313755,2.365896,2.463660,2.561425,2.659189,2.756953,2.854718,2.985070
1,Angola,3.53748,3.32483,3.30209,3.38587,3.469650,3.553430,3.637210,3.720990,3.804770,...,3.909642,3.950166,3.990690,4.704040,5.417391,5.417391,5.417391,5.417391,5.417391,5.417391
2,Albania,11.60293,11.76358,10.66378,10.12650,10.091150,10.166170,10.228450,10.505080,10.669440,...,10.025110,10.196281,10.370374,10.547439,10.727528,10.910692,11.096983,11.286455,11.286455,11.286455
3,Andorra,10.79878,10.79878,10.79878,10.79878,10.798780,10.798780,10.798780,10.798780,10.798780,...,10.587085,10.616062,10.645040,10.573280,10.556100,10.555773,10.555446,10.555120,10.555120,10.555120
4,United Arab Emirates,10.47456,10.82239,10.65938,10.68766,10.806515,10.925369,11.044223,11.163078,11.281932,...,10.169965,10.338129,10.506293,10.674456,10.842620,12.055400,12.484000,12.694030,12.694030,12.694030

In [8]:
# Create separate dataframes for expected and mean years of schooling
expected_schooling_df = hdi_df[[col for col in hdi_df.columns if 'Expected Years' in col or 'Country' in col]]
mean_schooling_df = hdi_df[[col for col in hdi_df.columns if 'Mean Years' in col or 'Country' in col]]
expected_schooling_df.head()
mean_schooling_df.head()

,Country,Expected Years of Schooling (1990),Expected Years of Schooling (1991),Expected Years of Schooling (1992),Expected Years of Schooling (1993),Expected Years of Schooling (1994),Expected Years of Schooling (1995),Expected Years of Schooling (1996),Expected Years of Schooling (1997),Expected Years of Schooling (1998),...,Expected Years of Schooling (2012),Expected Years of Schooling (2013),Expected Years of Schooling (2014),Expected Years of Schooling (2015),Expected Years of Schooling (2016),Expected Years of Schooling (2017),Expected Years of Schooling (2018),Expected Years of Schooling (2019),Expected Years of Schooling (2020),Expected Years of Schooling (2021)
0,Afghanistan,2.50405,2.80655,3.10905,3.41155,3.714050,4.016550,4.319050,4.621550,4.924050,...,9.577323,9.875836,10.174350,10.180150,10.185950,10.191750,10.197550,10.263844,10.263844,10.263844
1,Angola,3.53748,3.32483,3.30209,3.38587,3.469650,3.553430,3.637210,3.720990,3.804770,...,10.082500,10.604900,11.127300,11.649700,12.172090,12.172100,12.172100,12.172100,12.172100,12.172100
2,Albania,11.60293,11.76358,10.66378,10.12650,10.091150,10.166170,10.228450,10.505080,10.669440,...,14.586650,14.925640,15.252420,15.076300,14.804600,14.816130,14.695620,14.818920,14.448000,14.448000
3,Andorra,10.79878,10.79878,10.79878,10.79878,10.798780,10.798780,10.798780,10.798780,10.798780,...,13.524016,13.138841,13.495076,13.140280,13.300239,13.046476,13.300239,13.300239,13.300239,13.300239
4,United Arab Emirates,10.47456,10.82239,10.65938,10.68766,10.806515,10.925369,11.044223,11.163078,11.281932,...,12.945893,13.064747,13.183602,13.302456,13.421310,14.344100,15.019120,15.694140,15.717690,15.717690

In [9]:
# Export both dataframes to CSV files in the lstm_datasets directory
expected_schooling_df.to_csv('./datasets/expected_schooling.csv', index=False)
mean_schooling_df.to_csv('./datasets/mean_schooling.csv', index=False)